<!DOCTYPE html>
<html>
<head>
<style>
  body {
    line-height: 1.3;
    font-family: 'Helvetica', Arial, sans-serif;
  }
  h1 {
    margin: 0 0 1em;
  }
  .info {
    border-bottom: 1px solid #000;
    padding: 0 .2em;
    font-weight: bold;
  }
  .signature-block {
    margin-bottom: 3em;
  }
  .signature-field {
    min-height: 25px;
    border-bottom: 1px solid #000;
  }
  .form {
    border: 1px solid #000;
  }
  .form td {
    padding: 2px 6px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
  .form tr:last-child td {
    border-bottom: none;
  }
  .form td:last-child {
    border-right: none;
  }
  .form label {
    font-size: 11px;
    margin: 0;
    padding: 0;
  }
  .form td p {
    font-size: 14px;
    padding: 2px 0 4px;
    margin: 0;
  }
  
  .sig-image {
    border-bottom: 1px solid black;
  }
</style>
</head>
<body>
  <h1>Event Liability Release</h1>

  <p> 
    By signing this event liability release ("Release"), I hereby agree and acknowledge that I have made the voluntary and informed decision to participate in the event entitled Kigali Hacks to be conducted on October 16, 2022 at dadaLab, 2824 Real St, Austin, TX 78722, ("Event") and organized and hosted by a group of students (the "Team"), a fiscal sponsee of The Hack Foundation, a California nonprofit corporation serving as a fiscal sponsor for events hosted by students, such as the Team (the "Nonprofit"). The Team and the Nonprofit shall be collectively referred to as "Hack Club" for purposes of this Release.
  </p>

  <p>In consideration for my ability to participate in the Event, I agree to the contractual representations and agreements made herein. Further, I understand and agree that I am not required to participate in the Event, and that my agreement to do so and to execute this Release has been made in my sole and unfettered discretion and not under duress or any undue influence from any individual, entity or organization.</p>
  <p><b>I am aware that the activities associated with the Event, including but not limited to the travel to and from the Event, may be hazardous to my health or well-being and that I could be seriously injured or killed; however, I acknowledge that by signing this release, I, for myself and for my heirs, next of kin, executors, administrators, legal representatives, assignees and successors in interest, am assuming the risks associated with participation in the Event and that I am releasing Hack Club, and each of its officers, employees, attorneys, agents and volunteers from any and all liability for damage to or loss of my personal property, sickness or injury from any source, or death which might occur while participating in the Event. Further, I acknowledge, understand and agree that this release is a valid and binding contract and that I have read it carefully and understand and agree to be bound by the contents hereof.</b></p>
  
  <p>In addition to the foregoing, by signing below, I hereby expressly warrant and represent that I have been made aware of, agree to and acknowledge each of the following for myself, my heirs, next of kin, executors, administrators, legal representatives, assignees and successors in interest:</p>
  
  <ol>
    <li><p> <img class="sig-image" src="<%= initials %>" height="55"> (initial) I am under 18 years of age and my parent or guardian who is over 18 years of age is entering into this Release on my behalf as evidenced by such parent or guardian's signature below.</p></li>
    <li><p>I freely and knowingly agree to voluntarily participate in the Event activities, which not only include programming, but also include a meal/snacks/food and physical activity. As such, I am participating in all Event activities at my own risk, including physical, psychological and monetary risks.</p></li>
    <li><p>I hereby acknowledge, agree, warrant and represent that I will abide by all laws, rules, regulations and procedures of Hack Club and applicable law while participating in the Event. I further agree to act courteously at all times to any and all individuals with whom I have contact, and will not harass other participants, cause disruptions, damage the Event venue or any property, including but not limited to the property of other student participants. I agree that at any time Hack Club may revoke the permission granted to me to partake in the Event.</p></li>
    <li><p>I hereby acknowledge that all participants of the Event will allowed to leave the Event at any time unsupervised and without notifying Hack Club. I further acknowledge that Hack Club has no obligation at any point to notify a parent, guardian, or any other persons if and when a participant leaves the Event. </p></li>
    <li><p>I hereby grant to Hack Club and Hack Club's affiliates, and each of their directors, officers, employees, agents, successors, licensees and assigns, the worldwide, perpetual and irrevocable right to: (a) photograph or videotape me or record my voice, and to use said photography, video, sound recording or other likeness (the "Images") in the production, distribution, promotion and advertisement of the Event or Hack Club; and (b) to use such Images in connection with the production, distribution, promotion, advertisement and exploitation of the Event or Hack Club and the charitable programs and activities associated therewith. I hereby agree and consent that Hack Club shall have the right to edit the Images as Hack Club sees fit and in its sole and unfettered discretion and that Hack Club shall have all right, title and interest in any and all results from the use of the Images. The rights herein granted to Hack Club shall include, but are not limited to, the right to use the Images to such extent and in such manner, in and in connection with said Event, as Hack Club in its sole and complete discretion may determine, and the right to distribute, exhibit and otherwise exploit the Images, including but not limited to said photography, audiovisual or sound recordings, by any method and in any manner, including theatrically, non-theatrically, and by free television, public television, cable television, videocassette, DVD, internet or otherwise</p></li>
    <li><p>To the furthest extent permissible by law, I hereby release Hack Club, and Hack Club's officers, directors, agents, attorneys and employees, from any and all liabilities, claims, damages, costs or responsibilities associated with my participation in the Event, including but not limited to those resulting from personal injury or property damage which I may suffer while participating in the Event (or travel related thereto), including but not limited to injury or damage caused by my intentional acts, negligence (gross or otherwise), or willful or wanton conduct or the intentional acts, negligence (gross or otherwise), or willful or wanton conduct of third parties.</p></li>
    <li><p>I agree and acknowledge that Hack Club shall have no responsibility or liability whatsoever for any of my acts, omissions or failures to act during my participation in the Event, including but not limited to my negligence, intentional acts, gross negligence, or willful or wanton conduct. Further, I hereby agree to indemnify and release Hack Club and its officers, directors, agents and employees from any and all liabilities, claims, damages, costs (including but not limited to attorney's fees) resulting from any of my acts, omissions or failures to act during my participation in the Event, including but not limited to my negligence, intentional acts, gross negligence, or willful or wanton conduct.</p></li>
    <li><p>I agree and acknowledge that the validity, interpretation and enforcement of this document and any dispute arising out of my participation in the Event, whether in contract, tort, equity, or otherwise, will be governed by the laws of the state of California. I hereby agree that if any provision of this Release or any portion thereof, is held by a court of competent jurisdiction to be invalid, void, or unenforceable, the remainder of this document shall nevertheless remain in full force and effect, and such provision shall be deemed deleted from this Release and replaced with a valid and enforceable provision which so far as possible achieves the parties' intent in agreeing to the original provision. I agree that this Release may be executed in any number of counterparts and by email, facsimile transmission or any other form of electronic or digital signature, each of which shall be deemed an original, but all of which when taken together shall constitute one and the same instrument. I agree that this Release constitutes the sole understanding of the parties about this subject matter and may not be amended or modified except in writing signed by each of the parties to this Release.</p></li>
    <li><p><b>I HAVE BEEN GIVEN A COPY OF THIS RELEASE FOR MY PERSONAL RECORDS AND THIS INFORMATION WAS PROVIDED TO ME IN A LANGUAGE I CAN READ AND UNDERSTAND. BY SIGNING BELOW, I HEREBY ACKNOWLEDGE THAT I HAVE READ AND UNDERSTOOD THE ABOVE DISCLOSURES AND REPRESENTATIONS AND AGREE TO AND ACKNOWLEDGE THE INFORMATION PROVIDED HEREIN.</b></p></li>
  </ol>
  <br>
  <div style="display: flex; gap: 10rem;">
    <div>
      <p>(Print Name)</p>
      <p><b><%= name %></b></p>
    </div>
    <div>
      <p>(Date)</p>
      <p><b><%= date %></b></p>
      <p>(Address)</p>
      <p><b><%= address %></b></p>
      <p>(City, Province)</p>
      <p><b><%= city %></b></p>
      <br>
      <p>(Phone Number & Email Address)</p>
      <p><b><%= phone %> <br><%= email %></b></p>
      
    </div>
  </div>

  <br>

  <p>[For minors under the age of 18 years, parent or guardian must sign]</p>

  <div style="display: flex; gap: 10rem;">
    <div>
      <p style="width:max-content">Parent or Guardian (Print Name)</p>
      <p><b><%= parentName %></b></p>
      <br>
      <p>(Signature)</p>
      <p><img class="sig-image" src="<%= parentSignature %>" height="55"></p>
    </div>
    <div>
      <p>(Date)</p>
      <p><b><%= date %></b></p>
      <br>
      <p>(Phone Number & Email Address)</p>
      <p><b><%= parentPhone %> <br><%= parentEmail %></b></p>
      
    </div>
  </div>


</body>
</html>
