<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/masthead') %>
  <div class="container">
    <h2>Event Liability Release</h2>

    <p>Below is an example copy of the liability release, it is also available at <a href="/example.pdf">/example.pdf</a><br><br> After that there is a form which will allow you to sign the waiver</p>

    <iframe class="intro" src="/example.pdf" width="100%" height="300"></iframe>

    <form action="/sign" method="POST">
      <h3>Participant</h3>
      <div class="form-row">
        <div class="form-label">
          <label for="name">What's your name?</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="name"
                 name="name"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.name %>"
                 oninvalid="this.setCustomValidity('Please enter the participant\'s full name')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="email">What’s your email address?</label>
        </div>
        <div class="form-field">
          <input type="email"
                 id="email"
                 name="email"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.email %>"
                 oninvalid="this.setCustomValidity('Please enter a valid email address.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">WaiverKit sends out a copy of the agreement, so be sure to use a real email address.</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="phone">What’s your phone number?</label>
        </div>
        <div class="form-field">
          <input type="tel"
                 pattern="[0-9]{2}[0-9]{4}[0-9]{4}"
                 id="phone"
                 name="phone"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.phone %>"
                 oninvalid="this.setCustomValidity('Please enter a valid phone number. \(07-8907-8358\)')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">Our waiver document requires a phone number, but we will only use it in case of an emergency</p>
      </div>


      <div class="form-row">
        <div class="form-label">
          <label for="dob">What’s your date of birth?</label>
        </div>
        <div class="form-field">
          <input type="date"
                 id="dob"
                 name="dob"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.dob %>"
                 oninvalid="this.setCustomValidity('Please enter your date of birth.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="u18">I am under 18 years of age and are not legally emancipated</label>
        </div>
        <div class="form-field">
          <input type="checkbox"
                 id="u18"
                 name="u18"
                 oninvalid="this.setCustomValidity('Please contact brunoblaise94@gmail.com if you are over 18 or are legally emancipated.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">Please contact brunoblaise94@gmail.com if this is not the case</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="dob">What’s your address?</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="address"
                 name="address"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.address %>"
                 oninvalid="this.setCustomValidity('Please enter your home address.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="dob">What city do you live in?</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="city"
                 name="city"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.city %>"
                 oninvalid="this.setCustomValidity('Please enter your home city.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="state">What province do you live in?</label>
        </div>
        <div class="form-field">
          <select id="state"
                  name="state"
                  class="c-select"
                  oninvalid="this.setCustomValidity('Please select your home state.')"
                  oninput="setCustomValidity('')"
                  required>
              <option value="" selected>Please select a province</option>
              <option value="KG">Kigali</option>
              <option value="NOR">Northern</option>
              <option value="WER">Western</option>
              <option value="SOU">Southern</option>
              <option value="EAS">Eastern</option>
            </select>
        </div>
      </div>

  
      <h3>Parent/Guardian</h3>


      <div class="form-row">
        <div class="form-label">
          <label for="parentName">What’s your parent or guardian's name?</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="parentName"
                 name="parentName"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.parentName %>"
                 oninvalid="this.setCustomValidity('Please enter your parent/guardian\'s full name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="parentEmail">What’s your parent/guardian's email address?</label>
        </div>
        <div class="form-field">
          <input type="email"
                 id="parentEmail"
                 name="parentEmail"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.parentEmail %>"
                 oninvalid="this.setCustomValidity('Please enter a valid email address.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">WaiverKit sends out a copy of the agreement, so be sure to use a real email address.</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="phone">What’s your parent/guardian's phone number?</label>
        </div>
        <div class="form-field">
          <input type="tel"
               
                 id="parentPhone"
                 name="parentPhone"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.parentPhone %>"
                 oninvalid="this.setCustomValidity('Please enter a valid phone number. \(07-9898-6765\)')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">Our waiver document requires a phone number, but we will only use it in case of an emergency</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label>Parent/Guardian signature</label>
        </div>
        <div class="form-field">
          <button class="js-sig-reset sig-reset hidden" for="parentSignature"></button>
          <canvas class="js-sig-canvas sig" for="parentSignature" width="444" height="125"></canvas>
          <input type="hidden" class="js-sig" name="parentSignature">
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label>Sign your <b>initials</b></label>
        </div>
        <div class="form-field">
          <button class="js-sig-reset sig-reset hidden" for="initials"></button>
          <canvas class="js-sig-canvas sig" for="initials" width="444" height="125"></canvas>
          <input type="hidden" class="js-sig" name="initials">
        </div>
      </div>

      <div class="form-submit">
        <input class="c-submit js-submit" type="submit" value="Sign Waiver" disabled>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
